.piece-red {
  min-width: 100%;
    min-height: 100%;
    background-color: red;
    border-radius: 50%;
    margin: auto;
    color:white;
  }


  .piece-black{
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    border-radius: 50%;
    margin: auto;
    color:white;

  }

  .piece-empty{
    min-width: 100%;
    min-height: 100%;
    background-color: grey;
    border-radius: 50%;
    margin: auto;
    color:white;
  }


  .piece-blank{
    min-width: 100%;
    min-height: 100%;
    background-color: lightgrey;
    border-radius: 50%;
    margin: auto;
    color:white;
  }

  .piece-highlight{
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(107, 170, 151);
    border-radius: 50%;
    margin: auto;
    color:black;
  }


  .piece-almostMove{
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(107, 170, 151);
    border-radius: 50%;
    margin: auto;
    color:rgb(255, 255, 255);
  }


  .piece-blackking{
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(33, 4, 138);
    /* background-image: url('https://cdn.shopify.com/s/files/1/0743/4995/products/King_Wearing_Crown_Icon_-_Watermark.jpg?v=1481490121'); */
    border-radius: 50%;
    margin: auto;
    color:white;

  }
  .piece-redking{
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: auto;
    color:white;

  }